<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="StyleSheet" href="Login.css">
</head>
<body>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1024px-Airbnb_Logo_B%C3%A9lo.svg.png" alt="airbnblogo">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Login">Login</a></li>
            <li><a href="Sign">Singup</a></li>
            <li>About</li>
            <li>Info</li>
        </ul>

    </div>
    
</body>
</html>