<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="StyleSheet" href="Home.css">
</head>
<body>
    {{!-- <h2>Login pages</h2>
    <form method="/login" method="post">
        <label>Name:-</label>
        <input type="text" placeholder="Enter the name" name="name"/>
        <label>Password</label>
        <input type="password" placeholder="Enter the password" name="password"/>
        <button>Save it</button>
    </form>
    <a href="Signup">Create account</a> --}}

     <section id="LoginForm" class="sectionForm reSize">
    {{!-- <div class="formHeader">
      <h1 class="formHeading">Login</h1>
      <button class="backBtn" onclick="backBegin();">&#10006;</button>
    </div> --}}
    <form id="Register" action="#">
      <div class="inputSection">
        <label for="Username">Username: </label>
        <input type="text" id="L-Username" class="inputText" required placeholder="username">
      </div>
      {{!-- <div class="inputSection">
        <label for="Email">Email: </label>
        <input type="email" id="L-Email" class="inputText" required placeholder="email">
      </div> --}}
      <div class="inputSection">
        <label for="Password">Password: </label>
        <input type="password" id="L-Password" class="inputText" required placeholder="password"><br><br>
      </div>
      <img class="logoImg" src="#" alt="Your browser does not support img">
      {{!-- <div class="acceptSection">
        <input id="AcceptRelogin" class="formBox" type="checkbox">
        <span class="formText">I want to login automaticly.</span>
      </div> --}}
      <div class="formFooter">
        <button class="submitButton" type="submit" id="SubmitForm">Login</button>
      </div>
    </form>
    <div class="optionalSection">
      <span class="inputText sizeBack">No account yet?</span>
      {{!-- <button class="changeButton" type="button" id="GoRegister" onclick="openRegister(Singup);">Register</button> --}}
      <a href="Signup">Create account</a>
    </div>
    <div class="boxShadow"></div>
  </section>
</body>
</html>